* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: my-font1;
    src: url(fonts/Alegreya-Medium.ttf), url(fonts/Alegreya-Regular.ttf);
}

@font-face {
    font-family: my-font2;
    src: url(fonts/Caudex-Regular.ttf);
}

/* text */
.logo-text {
    font-family: my-font2;
    font-weight: 400;
    color: #753422;
    font-size: 65px;
}

.h1-banner {
    font-family: my-font1;
    font-weight: 500;
    line-height: 38px;
    color: #FFEBC9;
    font-size: 40px;
    letter-spacing: 1px;
}

.h1-text {
    font-family: my-font1;
    font-weight: 400;
    font-size: 32px;
    line-height: 30px;
    color: #753422;
    padding-bottom: 12px;
}

.p-light {
    font-family: my-font1;
    font-size: 17px;
    font-weight: 100;
    line-height: 1.25;
    letter-spacing: 1px;
    color: #FFEBC9;
    padding-top: 12px;
}

.p-text {
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    font-family: my-font1;
    color: #753422;
}

.p-dark {
    font-family: my-font1;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 1px;
    color: #753422;
}

/* background-primary */
.bg-primary {
    background: rgba(176, 91, 59, 0.6);
    mix-blend-mode: normal;
    border-radius: 10px;
}

/* edit */
.list-style-none {
    list-style: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
    display: flex;
}

.w-100 {
    width: 100%;
}

/* col */
.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}