/* header */
.logo a {
    text-decoration: none;
    color: #753422;
}

.header {
    padding: 40px 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.header li {
    margin: 0 25px;
}

.header li a {
    text-decoration: none;
    text-align: right;
    color: #753422;
    font-family: my-font1;
    font-size: 20px;
}

.header li:first-child {
    margin-left: 70px;
}

/* section1 */
.banner {
    height: 100vh;
    background-image: url("img/17.jpg");
    background-size: cover;
    background-position: center;

}

.banner-content {
    text-align: right;
    margin-left: 550px;
    background: rgba(176, 91, 59, 0.6);
    mix-blend-mode: normal;
    border-radius: 10px;
    padding: 45px 70px;
}

.banner-content a {
    text-decoration: none;
    color: #FFEBC9;
    border: 1px solid #FFEBC9;
    padding: 5px 15px;
}

.p2 {
    margin-top: 25px;
}

.banner-content:hover a {
    opacity: 5;
    color: #D79771
}

/* section2 */
.section-2 {
    margin: 60px 0;
}

.aa img {

    height: 350px;
    width: 100%;
    border-radius: 10px;
    
}

.bb img {
    width: 100%;
    height: 350px;
    border-radius: 10px;
    margin-left: 10px;
    
}

.welcome {
    font-family: my-font1;
    font-weight: 400;
    font-size: 32px;
    line-height: 20px;
    color: #753422;

}
.section-2 p a {
    text-decoration: none;
    color: #753422;
    border: 1px solid #753422;
    padding: 5px 15px;
}
.doan-text:hover a {
    opacity: 5;
    color: #D79771;
    
}



.bg-color{
    border-radius: 10px;
    height: 350px;
    box-shadow: 5px 25px 30px rgba(0, 0, 0, 0.11);

}
.text-section2{
    margin:0 45px;
}
/* section-3 */
.content-3{
    width: 100%;
    height: 350px;
    background-image: url("img/34.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.banner-img{
    text-align: center;
    padding: 50px 350px;
}
.banner-content-section3 {
    background: rgba(176, 91, 59, 0.6);
    mix-blend-mode: normal;
    border-radius: 10px;
    padding: 30px 50px;
}
.banner-content-section3 a {
    text-decoration: none;
    color: #FFEBC9;
    border: 1px solid #FFEBC9;
    padding: 5px 15px;
}
.banner-content-section3 :hover a {
    opacity: 5;
    color: #D79771;
    
}

/* section-4 */
.section-4{
    margin: 60px 0;
}
.hinhduoi{
    height: 350px;
    background-color: #753422;
    border-radius: 10px;
    padding-right: 350px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    z-index: 10;
}
.hinhtren img{
    height: 400px;
    width: 700px;
    z-index: 20;
    border-radius: 10px;
    position: absolute;
    top: 50px;
    left: 500px;
    border: 6px solid white;
    
    
    
}
.polision-re{
    position: relative;
}
.overlay{
    display: none;
    margin: 35px 90px;
    
}
.overlay a{
    color: #753422;
}
.row:hover .overlay{
    display:block;
    
}
.hinhduoi p a{
    text-decoration: none;
    color: #FFEBC9;
    border: 1px solid #FFEBC9;
    padding: 5px 15px;
}
.hinhduoi:hover a{
    opacity: 5;
    color: #D79771;
}
/* .section-4 */

.section-5{
    width: 100%;
    height: 350px;
    background-image: url("img/29.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 60px 0;
}
/* .section-5 */

.footer{
    background-color: #D79771;
    width: 100%;
    height: 200px;
}
.center-footer{
    padding: 20px 500px;
}
.padding-footer{
    text-align: center;
}
.center-footer1{
    
    margin: 10px 400px;
}
.center-footer2{
    margin-left: 450px;
    margin-bottom: 30px ;
}
